{{ define "main" }}
<!-- Title -->
<section id="title">
    <h1 class="typewriting">Maryzender Rodríguez-Melgarejo, Ph.D.</h1>
    <h4>Evolutionary biologist</h4>
</section>

<!-- About Me Section -->
<section id="about-me" class="mb-4">
    <div class="tag bg-moss typewriting title2 fit">
        About me
    </div>
    <div class="row mt-3 align-items-center">
        <div class="col-lg-3 col-md-4 text-center">
            <figure class="profile-image-wrapper">
                <img class="paper" width="200" src="/assets/mary.jpg" alt="Maryzender Rodríguez Melgarejo">
                <div class="tag bg-terracotta fit handwriting inner-border profile-name-tag">Maryzender</div>
            </figure>
        </div>
        <div class="col-lg-9 col-md-8">
            <div class="paper bg-white">
                {{ .Content }}
            </div>
        </div>
    </div>
</section>

<section id="selected-publications" class="mb-4">
    <div class="tag bg-moss typewriting title2 fit">
        Featured Publications
    </div>
    <div>
        {{ $featured := where .Site.RegularPages "Params.featured" true | first 3 }}
        <div class="d-flex flex-column gap-3">
            {{ range $featured }}
                {{- partial "publication-card.html" . -}}
            {{ end }}
        </div>
        <div class="d-flex justify-content-end mt-2">
            <a href="/publications/" class="tag bg-moss typewriting fit">View all publications</a>
        </div>
    </div>
</section>

<section id="news" class="mb-4">
    <div class="tag bg-moss typewriting title2 fit">
        News
    </div>

    <div class="row mt-3">
        {{ range first 9 (sort site.Data.news "date" "desc") }}
            {{ if .description }}
                <div class="col-md-4 mb-3 d-flex">
                        {{ if .featured }}
                            <div class="paper bg-soil w-100 d-flex flex-column p-3">
                            <h6 class="paper fit typewriting bg-mustard">{{ time.Format "02/01/2006" .date }}</h6>
                        {{ else if .special }}
                            <div class="paper bg-moss w-100 d-flex flex-column p-3">
                            <h6 class="paper fit typewriting bg-mustard">{{ time.Format "02/01/2006" .date }}</h6>
                        {{ else }}
                            <div class="paper bg-white w-100 d-flex flex-column p-3">
                            <h6 class="paper fit typewriting bg-mustard">{{ time.Format "02/01/2006" .date }}</h6>
                        {{ end }}
                        <div class="flex-grow-1">
                            {{ if .special }}
                                <p class="bold">{{ .description | markdownify }}</p>
                            {{ else }}
                                <p>{{ .description | markdownify }}</p>
                            {{ end }}
                        </div>
                        {{ if .url }}
                            {{ if .featured }}
                                <a href="{{ .url }}" class="tag bg-white fit typewriting mt-auto">Read article</a>
                            {{ else }}
                                <a href="{{ .url }}" class="tag bg-soil fit typewriting mt-auto">Read article</a>
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
            {{ end }}
        {{ end }}
    </div>

    <div class="d-flex justify-content-end mt-2">
        <a href="/news/" class="tag bg-moss typewriting fit">See all news</a>
    </div>
</section>
{{ end }}