{{ define "main" }}
    <div class="tag bg-moss typewriting title2 fit">
        {{ .Title }}
    </div>

    <div class="paper bg-white mb-4">
        {{ .Content }}
    </div>

    <div class="row mt-3">
        {{ range (sort site.Data.news "date" "desc") }}
            {{ if .description }}
                <div class="col-md-4 mb-3 d-flex">
                        {{ if .featured }}
                            <div class="paper bg-soil w-100 d-flex flex-column p-3">
                            <h6 class="paper fit typewriting bg-mustard">{{ time.Format "02/01/2006" .date }}</h6>
                        {{ else if .special }}
                            <div class="paper bg-soil w-100 d-flex flex-column p-3">
                            <h6 class="paper fit typewriting bg-white">{{ time.Format "02/01/2006" .date }}</h6>
                        {{ else }}
                            <div class="paper bg-white w-100 d-flex flex-column p-3">
                            <h6 class="paper fit typewriting bg-mustard">{{ time.Format "02/01/2006" .date }}</h6>
                        {{ end }}
                        <div class="flex-grow-1">
                            {{ if .special }}
                                <p><strong>{{ .description | markdownify }}</strong></p>
                            {{ else }}
                            <p>{{ .description | markdownify }}</p>
                            {{ end }}
                        </div>
                        {{ if .url }}
                            {{ if .featured }}
                                <a href="{{ .url }}" class="tag bg-white fit typewriting mt-auto">Read article</a>
                            {{ else }}
                                <a href="{{ .url }}" class="tag bg-soil fit typewriting mt-auto">Read article</a>
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
            {{ end }}
        {{ end }}
    </div>

    <div class="d-flex justify-content-end mt-5">
        <a href="{{ "/" | relURL }}" class="tag bg-moss fit typewriting">
            Back to Home
        </a>
    </div>
{{ end }}