<div class="d-flex align-items-center justify-content-center flex-wrap my-4 text-sm">
    <a href="https://scholar.google.com/citations?user=MTrNyqAAAAAJ&hl=es" target="_blank" rel="me" class="tag inner-border bg-mustard fit typewriting">
        Google Scholar
    </a>
    <a href="https://www.researchgate.net/profile/Maryzender-Rodriguez-Melgarejo" target="_blank" rel="me" class="tag inner-border bg-mustard fit typewriting">
        ResearchGate
    </a>
    <a href="https://orcid.org/0000-0002-3516-4270" target="_blank" rel="me" class="tag inner-border bg-mustard fit typewriting">
        ORCID
    </a>
    <a href="https://x.com/Maryzender_RM" target="_blank" rel="me" class="tag inner-border bg-mustard fit typewriting">
        X
    </a>
</div>